.user
  .user__authentication
    .user__authentication__title
      Sign up
    .user__authentication__detail
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :user_name
          %br/
          = f.text_field :user_name,class:"input-default"
          %br/
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email",class:"input-default"
          %br/
          %br/
        .field
          = f.label :user_image
          %br/
          = f.file_field :user_image,id: :image_field,class:"image-field"
        - if @user.user_image.present?
          = image_tag @user.user_image, id: :img_prev,class:"image-prev"
        - else
          = image_tag "nouserimage.png", id: :img_prev,class:"image-prev"
          %br/
          %br/
        .field
          = f.label :"love_brand"
          %br/
          = f.select :love_brand, [["Asahi", 1], ["KIRIN", 2], ["SAPPORO", 3], ["sunToRY", 4], ["YEBISU", 5],["クラフトビール", 6]]
          %br/
          %br/
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password",class:"input-default"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password",class:"input-default"
        .actions
          = f.submit "Sign up",class:"send__btn"
      = render "devise/shared/links"
