.user
  .user__authentication
    .user__authentication__title
      Sign up
    .user__authentication__detail
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :user_name
          %br/
          = f.text_field :user_name,class:"input-default"
          %br/
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email",class:"input-default"
          %br/
          %br/
          #img_field{:onclick => "$('#file').click()"}
            - if @user.user_image.url.present?
              = image_tag(@user.user_image.url)
            - else
              %i.fas.fa-user.fa-5x{:style => "color: silver;"}
          = f.file_field :user_image, class: "image", style: "display:none;", id: "file"
          %br/
          %br/
        .field
          = f.label :"love_brand"
          %br/
          = f.select :love_brand, [["アサヒ","アサヒ" ],["キリン","キリン" ],["サッポロ","サッポロ"],["サントリー","サントリー"],["エビス","エビス"],["オリオン","オリオン"],["クラフト","クラフト"],["その他","その他"]]
          %br/
          %br/
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password",class:"input-default"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password",class:"input-default"
        .actions
          = f.submit "Sign up",class:"send__btn"
      = render "devise/shared/links"
