= render "shared/header"
- if user_signed_in?
  = render "shared/main"
  .main
    .main__title
      All posts
      .main__title__select-box
        = form_tag posts_path, method: :get, class: 'boards__searchForm' do
          = select_tag :tag_id ,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),{prompt: '絞り込み',onchange: 'submit(this.form);'}   
    .partition
    .main__contents
      - @post.each do |o|
        =link_to post_path(o) do
          .tags
            - o.tags.each do |tag|
              .tag
                = tag.name
            -# = o.assortment[1..-2].gsub('",',', ').gsub("\"", "")
          = image_tag o.food_image.url,size:'200x200',class:"image"
          .posts__content
            .by
              by
            .icon
              .img
                = image_tag o.user.user_image.url,size:'30x30',class:"img"
              .name
                = o.user.user_name
              .likes
              %i.fas.fa-heart{:style => "color: red;"}
              = o.liked_users.count
          .partition 
  = paginate(@post)
  = render "shared/newpost"
  
- else
  .toppage
    .toppage__content
      .toppage__content--title
        Gout
      .toppage__content--description
        あなたが大好きなビールが置いてあるお店を一瞬で見つけられます。
        お店のビールの情報と一緒に自分のお気に入りメニューを投稿することもできます。
      .buttons
        .link
          - if user_signed_in?
            = link_to posts_path do
              始める
          - else
            = link_to new_user_session_path do
              始める
        .link
          = link_to top_path(:id) do
            使い方
          
      