= render "shared/header"
= render "shared/main"
.main
  .main__title
    All posts
    .main__title__select-box
      %select{:name => "example"}
        %option Narrow down
        %option{:value => "選択肢1"} ASAHI
        %option{:value => "選択肢2"} KIRIN
        %option{:value => "選択肢3"} SUNTRY
        %option{:value => "選択肢4"} SAPPORO
        %option{:value => "選択肢5"} ORION
  .partition
  .main__contents
    - @post.each do |o|
      =link_to post_path(o) do
        .assortment
          = o.assortment
        = image_tag o.food_image.url,size:'200x200',class:"image"
        .posts__content
          .by
            by
          .icon
            .img
              = image_tag o.user.user_image.url,size:'30x30',class:"img"
            .name
              = o.user.user_name
        .partition
               
= render "shared/newpost"
