= render "shared/header"
.personal
  .personal__profile
    .contents
      = image_tag @user.user_image.url,size:'180x180',class:"main_image"
      .main_name
        = @user.user_name
  .edition
    = link_to "Edit Profile " ,edit_user_registration_path 
  .tabs
    %input#all{:checked => "checked", :name => "tab_item", :type => "radio"}/
    %label.tab_item{:for => "all"} My Posts
    %input#programming{:name => "tab_item", :type => "radio"}/
    %label.tab_item{:for => "programming"} Likes
    #all_content.tab_content
      .tab_content_description
        .personal__contents
          .personal__contents__list 
            .posts
              - @posts.each do |o|
                =link_to post_path(o) do
                  .posts__image
                    = image_tag o.food_image.url,size:'200x200',class:"image"
                  .posts__content
                    .postt__content__name
                      =o.shop_name
                    %ul.food
                      %li
                        = o.user.user_name
                        %li
                          %i.fa.fa-star.likeIcon 7
          .personal__title__select-box
    #programming_content.tab_content
      .tab_content_description
        %p.c-txtsp いいね一覧

    
  



  