= render "shared/header"
.main
  .main__title
    Your_posts
    .main__title__select-box

  .main__contents
  .main__contents__list
    .posts
      =link_to post_path(:id) do
        .posts__image
          = image_tag 'gyoza.jpeg',size:'220x150'
        .posts__content
          .posts__content__name
            王将の餃子
          %ul.food
            %li
              コジコジ
            %li
              %i.fa.fa-star.likeIcon 7

    .posts
      =link_to post_path(:id) do
        .posts__image
          = image_tag 'gyoza.jpeg',size:'220x150'
        .posts__content
          .posts__content__name
            王将の餃子
          %ul.food
            %li
              コジコジ
            %li
              %i.fa.fa-star.likeIcon 7
    .posts
      =link_to post_path(:id) do
        .posts__image
          = image_tag 'gyoza.jpeg',size:'220x150'
        .posts__content
          .posts__content__name
            王将の餃子
          %ul.food
            %li
              コジコジ
            %li
              %i.fa.fa-star.likeIcon 7
    .posts
      =link_to post_path(:id) do
        .posts__image
          = image_tag 'gyoza.jpeg',size:'220x150'
        .posts__content
          .posts__content__name
            王将の餃子
          %ul.food
            %li
              コジコジ
            %li
              %i.fa.fa-star.likeIcon 7

  