= render "shared/header"
.personal
  .personal__profile
    .contents
      = image_tag @user.user_image.url,size:'180x180',class:"main_image"
      .main_name
        = @user.user_name
      - if user_signed_in? && current_user.id.to_s == params[:id]
        - unless @user.email == "test@gmail.com"
          .edition
            = link_to "Edit Profile " ,edit_user_registration_path 
  .tabs
    %input#all{:checked => "checked", :name => "tab_item", :type => "radio"}/
    %label.tab_item{:for => "all"} My Posts
    %input#programming{:name => "tab_item", :type => "radio"}/
    %label.tab_item{:for => "programming"} Likes
    #all_content.tab_content
      .tab_content_description
        - @posts.each do |o|
          =link_to post_path(o) do
            = image_tag o.food_image.url,size:'200x200',class:"image"
            .posts__content
              = icon('fas','heart')
              = o.liked_users.count
              = icon('fas','clock')
              = o.created_at.strftime('%Y/%m/%d %H:%M')


        .personal__title__select-box
    #programming_content.tab_content
      .tab_content_description
        -# - @user.posts.each do |post|
        -#   %a{:href => "/posts/#{post.id}"}= post.shop_name
        -#   .assortment
        -#     = post.assortment[1..-2].gsub('",',', ').gsub("\"", "")
        -#   = image_tag post.food_image.url,size:'200x200',class:"image"
        -#   .posts__content
        -#     .by
        -#       by
        -#     .icon
        -#       .img
        -#         = image_tag post.user.user_image.url,size:'30x30',class:"img"
        -#       .name
        -#         = post.user.user_name
        -#       .likes
        -#         = post.liked_users.count
        -#   .partition
        - @user.liked_posts.each do |post|
          =link_to "#" do
            = image_tag post.food_image.url,size:'200x200',class:"image"
            .icon
              .img
                = image_tag post.user.user_image.url,size:'30x30',class:"img"
                .name
                  = post.user.user_name
              




    
  



  