.user
  .user__authentication
    .user__authentication__title
      Sign up
    .user__authentication__detail
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email",class:"input-default"
        .actions
          = f.submit "再設定用のパスワードの送信",class:"send__btn"
      = render "devise/shared/links"
