.header
  .header__logo
    =link_to root_path do
      Gout
  .header__search
    .container
      %input{:placeholder => "Search...", :type => "text"}/
      .search
  .header__hum
    #ham-menu
      %ul
      - if user_signed_in?
        =link_to user_path(current_user) do
          = image_tag current_user.user_image.url,size:'30x30',class:"img"
          .name
            = link_to user_path(current_user.id) do
              = current_user.user_name
          %li My profile 自分の投稿も表示
        =link_to "#" do
          = icon('fas','newspaper')
          %li いいね一覧
        = link_to  destroy_user_session_path, method: :delete do
          = icon('fas','sign-out-alt')
          %li Logout

      - else
        = link_to "ログイン", new_user_session_path
        = link_to "新規登録", new_user_registration_path
    
    #menu-background





