.header
  .header__logo
    =link_to root_path do
      Gout
  .header__logo

  -# .header__search
  -#   = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
  -#     = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
  -#     = button_tag type: 'submit' ,class: 'search_btn' do
  -#       = icon 'fas','search',class: 'search-icon '
  .header__hum
    #ham-menu
      %ul
      - if user_signed_in?
        = image_tag current_user.user_image.url,size:'30x30',class:"img"
        .name 
          = current_user.user_name
        .partition
        .profile
          = link_to user_path(current_user.id) do
            = icon('fas','address-card')
            Profile
        .partition
        .search
          =link_to "/posts/search?utf8=✓&keyword=asa&button=" do
            = icon('fas','search')
            Search
        .partition
        .likes
          =link_to "#" do
            = icon('fas','grin-hearts')
            My favorite post

        .partition
        .log_out
          = link_to destroy_user_session_path, method: :delete do
            = icon('fas','sign-out-alt')
            Log out


      - else
        .partition
        .likes
          = link_to new_user_session_path do
            = icon('fas','clipboard-check')
            Log in
        .partition
        .likes
          = link_to  new_user_registration_path do
            = icon('fas','user-edit')
            Sign up
    #menu-background

    
   





