= render "shared/header"
.post
  .post__content
    .post__content__title
      Edit post
    .post__content__recommend
      = form_with model: @post, class: :form, local: true do |form|
        %br
        %br
        %br
        %br
        Shop name：
        = form.text_field :shop_name, placeholder: :お店の名前, class: "input-default"
        %br
        %br
        %br
        %br
        Food image：
        .foodimg
          = image_tag @post.food_image.url ,class:"foodimg", id: :food_image if @post.food_image?
        = form.file_field :food_image,id: :image__food 
        %p
          = form.check_box :remove_food_image
          Delete Image
        %br
        %br
        %br
        %br
        Description：
        = form.text_area :description, placeholder: :メニュー説明, class: "text-area"
        %br
        %br
        %br
        %br
        Adress：   
        = form.text_area :address, placeholder: :住所, class: "text-area"
        %br
        %br
        = form.submit 'Edit', class:"send__btn"
