= render "shared/header"
= render "shared/main"
.main
  .main__title
    Narrow down
    .main__title__select-box
      = form_tag posts_path, method: :get, class: 'boards__searchForm' do
        = select_tag :tag_id ,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),{prompt: 'Narrow Down',onchange: 'submit(this.form);'}   
  .partition
  .main__contents
    - @posts.each do |o|
      =link_to post_path(o) do
        .assortment
          - o.tags.each do |tag|
            = tag.name
          -# = o.assortment[1..-2].gsub('",',', ').gsub("\"", "")
        = image_tag o.food_image.url,size:'200x200',class:"image"
        .posts__content
          .by
            by
          .icon
            .img
              = image_tag o.user.user_image.url,size:'30x30',class:"img"
            .name
              = o.user.user_name
            .likes
            %i.fas.fa-heart{:style => "color: #e43bcd;"}
            = o.liked_users.count
        .partition
               
= render "shared/newpost"