= render "shared/header"
.main
  .header__search
    .container
      = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "銘柄を絞って検索できます", class: "search-input"
        = button_tag type: 'submit' ,class: 'search_btn' do
          = icon 'fas','search',class: 'search-icon'
  .main__contents
    .main__contents__list 
      .posts
        - @posts.each do |o|
          =link_to post_path(o) do
            .posts__image
              = image_tag o.food_image.url,size:'200x200',class:"image"
            .posts__content
              .postt__content__name
                =o.shop_name

                  
    
