= render "shared/header"
.post
  - if user_signed_in? && current_user.id == @post.user_id
    .delete-edition
      = link_to "Delete Post" ,post_path(@post.id), method: :delete 
    .delete-edition
      = link_to "Edit Post" ,edit_post_path(@post.id) 
  .post__content
    .post__content__topic
      .post__content__detail--contributor
        .icon
          =link_to post_path(@post.id) do
            .img
              = image_tag @post.user.user_image.url,size:'30x30',class:"img"
            .name
              = link_to user_path(@post.user) do
                = @post.user.user_name
        .time
          = icon("far", "clock")
          = @post.created_at.strftime('%Y/%m/%d %H:%M')
      .title
        = @post.shop_name
        .like
          %h3
          - if current_user.already_liked?(@post)
            .heart.fas.fa-heart.fa-3x{:style => "color: red;"}
              = button_to  '', post_like_path(@post), method: :delete
          - else
            .heart.far.fa-heart.fa-3x{:style => "color: gray;"}
              = button_to '', post_likes_path(@post) 
          -# %h2 いいねしたユーザー
          -# - @post.liked_users.each do |user|
          -#   %li= user.email
    .post__content__recommend
    .post__content__partition
    .post__content__detail
      .tags
        - @post.tags.each do |tag|
          .tag
            = tag.name

          
        -# .brands
        -#   = @post.assortment[1..-2].gsub('",',', ').gsub("\"", "")
      .post__content__detail--post
        .content
          .img
            = image_tag @post.food_image.url,size:'300x300',class:"image"
          .partition
          .description
            = @post.description
          .partition
          .address
            #map{:style => "width: 100%; height: 400px;"}
              :javascript
                handler = Gmaps.build('Google');
                    handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
                      markers = handler.addMarkers([
                        {
                          "lat": #{@post.latitude},
                          "lng": #{@post.longitude},
                        }
                      ]);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      handler.getMap().setZoom(17);
                    });
        -# %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&key=[AIzaSyAedk6YX-_eGNSi1s9uzgj0Z1LLQvEDMlI ]&callback=initMap"}


            


        .reviews
          .input
            - if current_user
              = form_with(model: [@post, @comment], local: true, class: "input__contents",id: "new_comment") do |form|
                = form.text_area :content, placeholder: "Let's try comments", rows: "2",class: "textbox"
                = form.submit "SEND",class: "form__submit"
            - else
              .text
                ※ コメントの投稿には新規登録/ログインが必要です ※
            .partition
            .comments
              - if @comments
                - @comments.each do |comment|
                  .data
                    .icon
                      .image
                        = image_tag comment.user.user_image.url,class:"img"
                      .name
                        = link_to comment.user.user_name, "/users/#{comment.user_id}"
                    .content
                      = comment.content
                  .partition
          
          
          

           
    

        
            
            




        

-#   .other-reviews
-#   .review-results
-#   .review-results__title
-#     .icon
-#       .img
-#       .name
-#         conributer
-#     .time
-#       07/17 07:17
-#     .input__stars
-#       .star-rating-front{:style => "width: 50%"} ★★★★★
-#       .star-rating-back ★★★★★
-#   .partition
-#   .review-results__contents
-#     まうまいんじゃないだろうか。おおおおおおおおおおおお
-# .review-results
-#   .review-results__title
-#     .icon
-#       .img
-#       .name
-#         conributer
-#     .time
-#       07/17 07:17
-#     .input__stars
-#       .star-rating-front{:style => "width: 50%"} ★★★★★
-#       .star-rating-back ★★★★★
-#   .partition
-#   .review-results__contents
-#     まずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずい



