= render "shared/header"
.post
  .post__content
    .post__content__title
      = @post.shop_name
    .post__content__recommend
    .post__content__partition
    .post__content__detail
      .post__content__detail--contributor
        .icon
          =link_to post_path(@post.id) do
            .img
              = image_tag @post.user.user_image.url,size:'30x30',class:"img"
            .name
              = @post.user.user_name
        .brands
          Asahi SAPPORO
    .post__content__detail--post
      .img
        = image_tag @post.food_image.url,size:'480x300'
      .description
        = @post.description
    .post__content__detail--adress
    .post__content__partition

    .reviews
  .input
    .input__stars
      .star-rating-front{:style => "width: 50%"} ★★★★★
      .star-rating-back ★★★★★
    .input__contents
      %textarea{:cols => "30", :name => "comment", :rows => "5",placeholder:"Try review!!",class:"input__contents--form"}
      %p
        %input{:type => "submit", :value => "Send",class:"btn"}/



        

-#   .other-reviews
-#   .review-results
-#   .review-results__title
-#     .icon
-#       .img
-#       .name
-#         conributer
-#     .time
-#       07/17 07:17
-#     .input__stars
-#       .star-rating-front{:style => "width: 50%"} ★★★★★
-#       .star-rating-back ★★★★★
-#   .partition
-#   .review-results__contents
-#     まうまいんじゃないだろうか。おおおおおおおおおおおお
-# .review-results
-#   .review-results__title
-#     .icon
-#       .img
-#       .name
-#         conributer
-#     .time
-#       07/17 07:17
-#     .input__stars
-#       .star-rating-front{:style => "width: 50%"} ★★★★★
-#       .star-rating-back ★★★★★
-#   .partition
-#   .review-results__contents
-#     まずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずい



