= render "shared/header"
.post
  - if user_signed_in? && current_user.id == @post.user_id
    = link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete"
    = link_to "編集", edit_post_path(@post.id), class: "postManage__edit"
  .post__content
    .post__content__title
      = @post.shop_name
    .post__content__recommend
    .post__content__partition
    .post__content__detail
      .post__content__detail--contributor
        .icon
          =link_to post_path(@post.id) do
            .img
              = image_tag @post.user.user_image.url,size:'30x30',class:"img"
            .name
              = link_to user_path(@post.user) do
                = @post.user.user_name

        .brands
          Asahi SAPPORO
    .post__content__detail--post
      .img
        = image_tag @post.food_image.url,size:'480x300'
      .description
        = @post.description
    .post__content__detail--adress
  .reviews
    .input
      - if current_user
        = form_with(model: [@post, @comment], local: true, class: "input__contents",id: "new_comment") do |form|
          = form.text_area :content, placeholder: "Let's try comments", rows: "2",class: "textbox"
          = form.submit "SEND",class: "form__submit"
      - else
        .text
          ※ コメントの投稿には新規登録/ログインが必要です ※
      .partition
      .comments
        - if @comments
          - @comments.each do |comment|
            %p
              %strong
                = link_to comment.user.user_name, "/users/#{comment.user_id}"
                ：
                = comment.content




        

-#   .other-reviews
-#   .review-results
-#   .review-results__title
-#     .icon
-#       .img
-#       .name
-#         conributer
-#     .time
-#       07/17 07:17
-#     .input__stars
-#       .star-rating-front{:style => "width: 50%"} ★★★★★
-#       .star-rating-back ★★★★★
-#   .partition
-#   .review-results__contents
-#     まうまいんじゃないだろうか。おおおおおおおおおおおお
-# .review-results
-#   .review-results__title
-#     .icon
-#       .img
-#       .name
-#         conributer
-#     .time
-#       07/17 07:17
-#     .input__stars
-#       .star-rating-front{:style => "width: 50%"} ★★★★★
-#       .star-rating-back ★★★★★
-#   .partition
-#   .review-results__contents
-#     まずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずい



